.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 2rem;
}

.login::before {
    display: block;
    content: "";
    background: url("../../assets/login.jpg") no-repeat center center;
    background-size: cover;
    max-width: 700px;
    max-height: 500px;
}

.forms {
    max-width: 50rem;
    padding: 3rem;
}

@media (max-width: 768px) {
    .login {
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        margin: 0 auto;
    }
    .login::before {
        display: none;
    }
    .forms {
        max-width: 100%;
    }
}
